.scene {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 10s linear infinite;
}

@keyframes rotateCube {
  from { transform: rotateX(-20deg) rotateY(0deg); }
  to   { transform: rotateX(-20deg) rotateY(360deg); }
}

.cube-face {
  position: absolute;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 2px solid #0000;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

/* Mỗi mặt với ảnh riêng */
.front  { transform: translateZ(200px); background-image: url(hinhanh/4.jpg); }
.back   { transform: rotateY(180deg) translateZ(200px); background-image: url(hinhanh/1.jpg); }
.right  { transform: rotateY(90deg) translateZ(200px); background-image: url(hinhanh/2.jpg); }
.left   { transform: rotateY(-90deg) translateZ(200px); background-image: url(hinhanh/3.jpg); }


/* Hover: tách từng mặt thêm 20px */
.scene:hover .front  { transform: translateZ(220px); }
.scene:hover .back   { transform: rotateY(180deg) translateZ(220px); }
.scene:hover .right  { transform: rotateY(90deg) translateZ(220px); }
.scene:hover .left   { transform: rotateY(-90deg) translateZ(220px); }

